<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="integrated.graphic_and_text.collaboration.mypoise.mapper.UserWechatMapper">

    <resultMap id="BaseResultMap" type="integrated.graphic_and_text.collaboration.mypoise.entity.model.UserWechat">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="session_key" column="session_key" jdbcType="VARCHAR"/>
            <result property="unionid" column="unionid" jdbcType="VARCHAR"/>
            <result property="mini_program_openid" column="mini_program_openid" jdbcType="VARCHAR"/>
            <result property="mini_program_unionid" column="mini_program_unionid" jdbcType="VARCHAR"/>
            <result property="mini_program_bind_time" column="mini_program_bind_time" jdbcType="TIMESTAMP"/>
            <result property="created_at" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,openid,session_key,
        unionid,mini_program_openid,mini_program_unionid,
        mini_program_bind_time,created_at,updated_at
    </sql>
</mapper>
